#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
    font-family: 'Nunito', system-ui, -apple-system, sans-serif;
    min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: 'Nunito';
    font-display: swap;
}

main {
  width: 100%;
}
