#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
}
